@font-face {
    font-family: 'ITCAvantGardeStdBk-Book';
    src: url('../fonts/ITCAvantGardeStdBk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeStdBk-Bold';
    src: url('../fonts/ITCAvantGardeStdBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeStdBk-Demi';
    src: url('../fonts/ITCAvantGardeStdDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeStdBk-Medium';
    src: url('../fonts/ITCAvantGardeStdMd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}